{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-rational-order",
    "stylelint-config-recommended-vue",
    "stylelint-config-recommended-vue/scss"
  ],
  "customSyntax": "postcss-html",
  "include": ["src"],
  "plugins": ["stylelint-declaration-block-no-ignored-properties", "stylelint-scss"],
  "rules": {
    "plugin/declaration-block-no-ignored-properties": true,
    "value-list-max-empty-lines": 0,
    "declaration-empty-line-before": "never",
    "comment-whitespace-inside": "always",
    "indentation": 2,
    "no-empty-source": null,
    "selector-class-pattern": null,
    "custom-property-pattern": null,
    "scss/no-global-function-names": null,
    "no-descending-specificity": null,
    "selector-pseudo-class-no-unknown": null,
    "no-empty-first-line": true,
    "at-rule-empty-line-before": [
      "always",
      {
        "except": ["after-same-name", "blockless-after-blockless", "inside-block"],
        "ignore": ["after-comment"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.less"],
      "customSyntax": "postcss-less"
    }
  ]
}
