:root {
  --primary-color: #007bed;
  --error-color: #f5222d;
  --warning-color: #ee742a;
  --success-color: #52c41a;

  --aside-width: 231px;
  --primary-color-hover: #1c8ef8;
  --font-size-18: 18px;
  --font-size-14: 14px;
  --black1: rgb(0 0 0 / 25%);
  --black2: rgb(0 0 0 / 40%);
  --black3: rgb(0 0 0 / 60%);
  --black4: rgb(0 0 0 / 90%);
  --black5: #000000;
  --white-1: #fff;
  --white-2: #efefef;

  --gray1: #dcdcdc;
  --gray2: #eeeeee;
  --gray3: #a6a6a6;
  --gray4: #f3f3f3;
  --blue1: rgba(0, 123, 237, 0.1);
  --blue2: #0060c7;
  --blue3: #289bfa;

  --font-white1: rgba(255, 255, 255, 1);
  --font-white2: rgba(255, 255, 255, 0.75);
  --font-white3: rgba(255, 255, 255, 0.55);
  --font-white4: rgba(255, 255, 255, 0.35);
  --font-white5: rgba(255, 255, 255, 0.25);
  // 文字/图标色
  --font-gy1: rgba(0, 0, 0, 0.9);
  --font-gy2: rgba(0, 0, 0, 0.6);
  --font-gy3: rgba(0, 0, 0, 0.4);
  --font-gy4: rgba(0, 0, 0, 0.25);
}
